  {% extends 'base.html' %}

  {% load static %}

  {% block title %}Контакты - Ваше право{% endblock %}

  {% block content %}
    {% for backgroundcontact in backgroundcontact.all %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({{ backgroundcontact.image.url }});" data-stellar-background-ratio="0.5">
    {% endfor %}
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">

            {% if messages %}
            <div class="messages">
              {% for message in messages %}
              <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
              {% endfor %}
            </div>
            {% endif %}
          <!--эта часть для вывода зеленого сообщения-->

            <h1 class="mb-3 bread">Свяжитесь с нами</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="{% url 'services' %}">Услуги <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="{% url 'contact' %}">Свяжитесь с нами <i class="ion-ios-arrow-forward"></i></a></span></p></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h3">Контакты</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-md-3">
            <!--Адресс-->
            {% for havequestions in havequestions.all %}
              <p><span>Адрес</span> <br> <a href="#">{{ havequestions.address }}</a></p>
            {% endfor %}

          </div>
          <div class="col-md-3">
            {% for footernumber in footernumber.all %}
              <p><span>Phone</span> <a href="tel:{{ footernumber.number }}"><br>{{ footernumber.number }}</a></p>
            {% endfor %}
          </div>
          <div class="col-md-3">
            {% for email in email.all %}
            <p><span>Email</span> <a href="mailto:{{ email.create_email }}">{{ email.create_email }}</a></p>
            {% endfor %}
          </div>
          <div class="col-md-3">
            {% for website in website.all %}
              <p><span>Веб-сайт</span> <a href="https://vashe-pravo.com.ua"><br>{{ website.name_web_site }}</a></p>
            {% endfor %}
          </div>
        </div>
        <div class="row block-9">
          <div class="col-lg-6 order-md-last d-flex">

            <form id="contactForm" class="bg-light p-5 contact-form" method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ form.as_p }}
              </div>
              <div class="form-group">
                <input type="submit" value="Отправить заявку" class="btn btn-primary py-3 px-5">
              </div>
            </form>

          </div>

          <div class="col-lg-6 d-flex">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.6834302445077!2d38.93008491533213!3d48.13562805927623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e04a923a579445%3A0x2f1bc03f9866c846!2z0YPQuy4g0JzQsNCz0LjRgdGC0YDQsNC70YzQvdCw0Y8sIDYyLCDQpdGA0YPRgdGC0LDQu9GM0L3Ri9C5LCDQm9GD0LPQsNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDk0NTAw!5e0!3m2!1sru!2sua!4v1628406126148!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </section>
  {% endblock content %}

